################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Webgentle.BookStore/Webgentle.BookStore/obj
/Webgentle.BookStore/.vs/Webgentle.BookStore/v16
/.vs/AspDotNetCoreMvc3/v16
/.vs
/Webgentle.BookStore/.vs/Webgentle.BookStore/config
/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib
/Webgentle.BookStore/Webgentle.BookStore/bin/Debug/netcoreapp3.1
